---
import SearchBar from "../components/SearchBar.astro";
import Layout from "../layouts/Layout.astro";
import BingWhite from "../icons/BingWhite.astro";
import SearchSuccess from "../components/SearchSuccess.astro";
import TextSkeleton from "../components/Skeleton.astro";

var search = "";

if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  search = data.get("search")?.toString() || "";
}

const options = ["Chat", "Imágenes", "Videos", "Noticias"];
---

<Layout title="Microsoft Bing">
  <main class="w-full px-4">
    <section class="w-full mb-6">
      <div class="flex">
        <BingWhite class="size-9" />
        <SearchBar options={options} search={search} />
      </div>
    </section>
    <TextSkeleton />
    <SearchSuccess class="hidden" />
  </main>
</Layout>
<script>
  setTimeout(() => {
    const skeleton = document.querySelector("[data-skeleton]");
    const dataResult = document.querySelector("[data-search-result]");

    skeleton?.classList.toggle("hidden");
    dataResult?.classList.toggle("hidden");
  }, 1000);
</script>
