---
const { title, image } = Astro.props;
---

<div class="max-w-sm shadow-lg bg-white cursor-pointer">
<img src={image} alt={title} class="w-full h-40 max-h-36 object-cover aspect-square">
<div class="p-4">
  <a href="#" class="text-xl font-semibold text-teal-700 hover:underline">{title}</a>
</div>
</div>
