---
const { title, image, time } = Astro.props.data;
---

<a href="#" class="flex flex-row justify-between gap-2 border-b-2 p-3 hover:bg-black/5">
  <div class="flex-auto w-2/3">
    <h2 class="text-black font-bold text-pretty text-xl">{title}</h2>
    <span class="text-black/40 font-semibold text-sm">{time}</span>
  </div>
  <img class="flex-none rounded max-h-28 object-cover aspect-square md:aspect-video" src={image} alt=`Imagen para la noticia ${title}` />
</>
