---
import Chat from "./Chat.astro";
import NewsFeed from "./NewsFeed.astro";
---

<section class="grid grid-cols-1 lg:grid-cols-3 w-full gap-y-3 lg:gap-x-6 mb-4">
  <Chat />
  <NewsFeed />
</section>
