---
import New from "./New.astro";

const CATEGORIES = [
  {
    name: "Noticias",
    image: "/news.webp",
  },
  {
    name: "Diversión",
    image: "/fun.webp",
  },
  {
    name: "Vida",
    image: "/life.webp",
  },
  {
    name: "Gaming",
    image: "/gaming.webp",
  },
  {
    name: "Salud",
    image: "/health.webp",
  },
];

const NEWS = [
    {
        title: "Camino a un planeta mejor: las buenas noticias sobre medio ambiente de 2023",
        image: "/forest.webp",
        time: "hace 8 horas"
    },
    {
        title: "Guerra Rusia - Ucrania, en directo: últimas noticias del conflicto",
        image: "/war.webp",
        time: "hace 9 horas"
    }
]
---

<section class="grid grid-cols-1 md:grid-cols-3 w-full gap-y-3 md:gap-x-6">
  <div class="rounded-lg bg-neutral-100 text-black h-40 p-3 md:order-last">
    <h1>Bing Chat</h1>
  </div>
  <div class="flex flex-col gap-3 col-span-2">
    <div class="flex flex-row items-center justify-between">
      {
        CATEGORIES.map(({ name, image }) => (
          <div class="w-1/6 relative hover:scale-90 transition cursor-pointer">
            <span class="rounded-b absolute bottom-0 text-center bg-black/60 w-full uppercase text-xs md:text-sm font-semibold py-0.5">
              {name}
            </span>
            <img
              class="rounded object-cover aspect-video"
              loading="lazy"
              src={image}
              alt={`Imagen para la categoría ${name}`}
            />
          </div>
        ))
      }
    </div>
    <div class="rounded-lg bg-neutral-100 p-3">
      <h1
        class="text-2xl border-b-4 text-emerald-600 border-emerald-600 font-semibold"
      >
        Noticias recientes
      </h1>
      {
        NEWS.map((data) => (
            <New data={data} />
        ))
      }
    </div>
  </div>
</section>
