<div class="flex items-center gap-x-5 mb-6">
  <span>2.234.000 resultados</span>
  <span class="flex items-center cursor-pointer"
    >Fecha <i
      class="w-0 h-0 ml-1
          border-l-4 border-l-transparent
          border-t-8 border-t-zinc-600/50
          border-r-4 border-r-transparent"
    >
    </i></span
  >
  <span class="flex items-center cursor-pointer"
    >Idioma<i
      class="w-0 h-0 ml-1
          border-l-4 border-l-transparent
          border-t-8 border-t-zinc-600/50
          border-r-4 border-r-transparent"
    >
    </i></span
  >
</div>
