---
import BingWhite from "../icons/BingWhite.astro";
import SearchBar from "./SearchBar.astro";
import SearchOptions from "./SearchOptions.astro";

const options = ["Chat", "Imágenes", "Videos", "Noticias"]
---

<section class="flex flex-row gap-x-3 mb-20 max-w-2xl w-full">
  <BingWhite />
  <div class="flex flex-col justify-around w-full">
    <h1 class="text-5xl mb-5">Bing</h1>
    <SearchBar options={options} />
  </div>
</section>
