<li>
  <a
    data-search-option
    class={`${Astro.props.class} uppercase font-semibold`}
    href="#"
  >
    <slot />
  </a>
</li>
<script>
  // Buscar todas las opciones
  const searchOptions = document.querySelectorAll("[data-search-option]");

  // Añadir event listeners a cada opción
  searchOptions.forEach((searchOption) => {
    searchOption.addEventListener("click", (event) => {
      const { target } = event;
      if (target instanceof HTMLElement) {
        const classTailwind = "border-b-2";
        searchOptions.forEach((searchOption) => {
          searchOption.classList.remove(classTailwind);
        });
        target.classList.add(classTailwind);
      }
    });
  });
</script>
