---
import Search from "../icons/Search.astro";
import SearchOptions from "./SearchOptions.astro";

const { search, options } = Astro.props;
---

<div class={`${Astro.props.class} flex flex-col`}>
  <form method="post" class="relative flex justify-end items-center">
    <Search class="pointer-events-none absolute size-5 text-teal-900 right-3" />
    <input
      type="text"
      name="search"
      required
      value={search}
      class="rounded-full w-full p-1 text-black indent-2 border-2 border-teal-900 outline-none shadow-lg shadow-teal-900/90"
    />
  </form>
  <SearchOptions options={options} />
</div>
